<html>
  <head>
    <base href="{{ ENTER_POINT }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>L1000 Fireworks Display</title>
    <!-- <link rel="icon" href="images/favicon.png" type="image/x-icon"> -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
    <link rel="stylesheet" type="text/css" href="lib/datatables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/download.css">
  </head>
  <body>
    {% include 'partial/header.html' %}
    <div id="body" class="container-full">        
        <div class="row">
            <div class="col-md-8 col-md-offset-2"> 
                <div class="row">
                	<div class="page-header">
                		<h3>Drug-Induced Gene Expression Signatures and Adjacency Matrices</h3>	
                	</div>
                    <table class="table table-striped table-hover table-condensed">
                    	<thead>
                    		<tr>
                    			<th>Name</th>
                    			<th>Description</th>
                    			<th>Size</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		{% for file in download_files_meta %}
                    		<tr>
	                    		<td><a href="download/{{ file['name'] }}">{{ file['name'] }}</a></td>
	                    		<td>{{ file['desc'] }}</td>
	                    		<td>{{ file['size'] }}</td>
                    		</tr>
                    		{% endfor %}
                    	</tbody>
                    </table>
                </div>
                <div class="row">
                	<div class="page-header">
                		<h3>Graphs</h3>
                	</div>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Plot</th>
                                <th>Cell line</th>
                                <th>Signatures</th>
                            </tr>
                        </thead>
                        <tbody>
              
                        {% for graph in graphs['cells'] %}
                        <tr>
                            <td><a href="download_graph/{{graph['name']}}">{{ graph['display_name'] }}</a></td>
                            <td>{{ graph['cell'] }}</td>
                            <td>{{ graph['n_sigs'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'partial/footer.html' %}

  </body>
</html>
