<!doctype html>
<html lang="en">
{% include 'partial/head.html' %}
<body>
  <div class="container-fluid">
    {% include 'partial/header.html' %}
    <div class="row justify-content-center">
      <div class="col-10">
         
        <hr>

        <div class="row">
          <div class="col-12">
            <div class="page-header">
              <h3>Drug-Induced Gene Expression Signatures and Adjacency Matrices</h3>	
            </div>
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                {% for file in download_files_meta %}
                <tr>
                  <td><a href="download/{{ file['name'] }}">{{ file['name'] }}</a></td>
                  <td>{{ file['desc'] }}</td>
                  <td>{{ file['size'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <div class="page-header">
              <h3>Graphs</h3>
            </div>
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th>Plot</th>
                  <th>Cell line</th>
                  <th>Signatures</th>
                </tr>
              </thead>
              <tbody>

                {% for graph in graphs['cells'] %}
                <tr>
                  <td><a href="download_graph/{{graph['name']}}">{{ graph['display_name'] }}</a></td>
                  <td>{{ graph['cell'] }}</td>
                  <td>{{ graph['n_sigs'] }}</td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include 'partial/footer.html' %}

</body>
</html>
