<html>
  <head>
    <base href="{{ ENTER_POINT }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>L1000 Fireworks Display</title>
    <!-- <link rel="icon" href="images/favicon.png" type="image/x-icon"> -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
    <link rel="stylesheet" type="text/css" href="lib/datatables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    {% include 'partial/header.html' %}
    <div id="body" class="container-full">
      <canvas id="text-label"></canvas>
    </div>
    {% include 'partial/footer.html' %}

    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    
    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/d3-legend.min.js"></script>
    <script src="lib/selectize.js"></script>
    <script src="lib/datatables.js"></script>
    <script src="lib/datatables.bootstrap.js"></script>

    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script src="lib/Detector.js"></script>
    <script src="lib/stats.min.js"></script>
    
    <script src="js/textures.js"></script>
    <script src="js/scatterPlot.js"></script>
    <script src="js/scatterWidgets.js"></script>
    <script>
        var result_id = "{{ result_id }}";
        var graph_name = "{{ graph_name }}"
        var sdvConfig = {{ sdvConfig|safe }};
    </script>
    <script src="js/{{ script }}.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60506844-10', 'auto');
        ga('send', 'pageview');
    </script>    

    {% if script == 'result' %}
        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Similarity search results</h4>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>
        </div>
    {% endif %}
  </body>
</html>
