<html>
  <head>
    <base href="{{ ENTER_POINT }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>DMOA Signature Visualization</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
    <link rel="stylesheet" type="text/css" href="lib/datatables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <canvas id="text-label"></canvas>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    
    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/d3-legend.min.js"></script>
    <script src="lib/selectize.js"></script>
    <script src="lib/datatables.js"></script>
    <script src="lib/datatables.bootstrap.js"></script>

    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script src="lib/Detector.js"></script>
    <script src="lib/stats.min.js"></script>
    
    <script src="js/textures.js"></script>
    <script src="js/scatterPlot.js"></script>
    <script src="js/scatterWidgets.js"></script>
    <script>
        var result_id = "{{ result_id }}";
    </script>
    <script src="js/{{ script }}.js"></script>

    {% if script == 'result' %}
        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Similarity search results</h4>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>
        </div>
    {% endif %}
  </body>
</html>
