<!doctype html>
<html lang="en">
  {% include 'partial/head.html' %}
  <body>
    {% include 'partial/header.html' %}
    <div id="body" class="container-full">
      <canvas id="text-label"></canvas>
    </div>

    {% include 'partial/footer.html' %}

    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script src="lib/Detector.js"></script>
    <script src="lib/stats.min.js"></script>
    
    <script src="js/textures.js"></script>
    <script src="js/scatterPlot.js"></script>
    <script src="js/scatterWidgets.js"></script>
    <script>
        var result_id = "{{ result_id }}";
        var subset_id = "{{ subset_id }}";
        var graph_name = "{{ graph_name }}"
        var sdvConfig = {{ sdvConfig|safe }};
    </script>
    <script src="js/{{ script }}.js"></script>

    {% if script == 'result' %}
        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Signature similarity search results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>
        </div>
    {% endif %}
  </body>
</html>
