<html>
  <head>
    <base href="{{ ENTER_POINT }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>L1000 Fireworks Display</title>
    <!-- <link rel="icon" href="images/favicon.png" type="image/x-icon"> -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
    <link rel="stylesheet" type="text/css" href="lib/datatables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <style type="text/css">
    .drug-name{
        color: red;
    }
    .drug-pert-id{
        color: grey;
    }
    .form-group{
        font-size: 16px;
    }
    </style>
  </head>
  <body>
    {% include 'partial/header.html' %}
    <div id="body" class="container-full">        
        <div class="row">
            <div class="col-md-8 col-md-offset-2"> 
                <div class="row">
                    <div class="page-header">
                        <h3>Generate Signature Reports</h3>
                    </div>
                    <div id="instructions">
                        <p>
                            From this page you can select a subset of drug-induced gene expression signatures to visualize. Start by typing, in the appropriate text boxes, drug terms, cell line terms, and time points to include.
                        </p>
                        <p>
                            Click on the "<a class="example-btn">Example</a>" button to populate the form with an example query.
                        </p>
                        <p>
                            Click on the "Submit" button to submit the form for processing. The information entered will be posted the to server and then an interactive visualization of the subset of signatures will be displayed.
                        </p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Compounds to include:</label>
                        <select id="pert_ids" name="pert_ids" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cell lines to include: (leave blank to include all):</label>
                        <select id="cells" name="cells" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Time points to include (leave blank to include all):</label>
                        <select id="times" name="times" class="form-control"></select>
                    </div>
                    
                        <button id="example-btn-1" class="btn btn-default example-btn">Example1</button>
                        <button id="example-btn-2" class="btn btn-default">Example2</button>
                        <input type="submit" id="submit-btn" class="btn btn-default pull-right" value="Submit" />
                                        
                </div>
            </div>
        </div>
    </div>
    {% include 'partial/footer.html' %}
    <script src='js/searchTags.js'></script>

  </body>
</html>
