<div class='container-full' id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h3>About</h3>
        <p>LINCS L1000FWD is actively developed by the <a href='http://icahn.mssm.edu/research/labs/maayan-laboratory' target='_blank'>Ma’ayan Laboratory</a> for the <a href='http://lincs-dcic.org/#/' target='_blank'>BD2K-LINCS Data Coordination and Integration Center</a> at the <a href='http://icahn.mssm.edu/' target='_blank'>Icahn School of Medicine at Mount Sinai</a></p>
      </div>
      <div class='col-md-4'>
        <h3>Affiliations</h3>
        <ul class='list-unstyled'>
          <li>
            <a href='http://lincs-dcic.org/#/' target='_blank'>BD2K-LINCS DCIC</a>
          </li>
          <li>
            <a href='http://www.lincsproject.org/' target='_blank'>NIH LINCS Program</a>
          </li>
          <li>
            <a href='https://commonfund.nih.gov/idg/overview' target='_blank'>NIH IDG program</a>
          </li>
          <li>
            <a href='http://commonfund.nih.gov/lincs/' target='_blank'>NIH Common Fund</a>
          </li>
          <li>
            <a href='http://icahn.mssm.edu/research/bioinformatics' target='_blank'>Mount Sinai Center for Bioinformatics</a>
          </li>
        </ul>
      </div>
      <div class='col-md-4'>
        <h3>Contact</h3>
        <ul class='list-unstyled'>
          <li>
            <a href='mailto:mailto:zichen.wang@mssm.edu;avi.maayan@mssm.edu'>Zichen Wang and Avi Ma'ayan</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
