<div id="nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" title="L1000FWD: Large-scale Visualization of Drug-induced Transcriptomic Signatures" href="">
          <span>
            <img src="images/logo.png" width="25px" height="25px">
          </span>
            L1000FWD: Large-scale Visualization of Drug-induced Transcriptomic Signatures</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li id="aggregated-graphs" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Aggregated Graphs<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              
              {% for graph in graphs['agg'] %}
                <li><a href="graph_page/{{ graph.name }}">{{ graph.display_name }}</a></li>
              {% endfor %}

            </ul>
          </li>

          <li id="graphs-by-cells" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Graphs by cell lines<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              
              {% for graph in graphs['cells'] %}
                <li><a href="graph_page/{{ graph.name }}">{{ graph.display_name }}</a></li>
              {% endfor %}

            </ul>
          </li>
          <li id="downloads"><a href="#downloads">Download</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>
